.location{
    width: 100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}
 h2{
    color: white;
  
}

iframe{
    width: 98%;
    height: 440px;
    
    /* filter: invert(100%); */
}

.inner {
    visibility: hidden;
}
.inner a:first-child {
    visibility: visible;
}

.icon-contact h4{
    color:white;
    font-size: 22px;
    margin-top: 0%;
    
    
    
    }


    